:root {
  --title-height: 44px;
}

body {
  height: 100vh;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(197,6,170,1) 0%, rgba(0,180,255,1) 100%);
  color: white; 
}

#root {
  height: 100%;
}

h1, h2 {
  margin: 0;
  height: var(--title-height);
}

main {
  text-align: center;
  height: 100%;
}

section {
  height: calc(100% - var(--title-height));
  display: flex;
  flex-direction: center;
  align-items: center;
  justify-content: center;
}
